<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\NLog_PFApi_Logs\internal-nlog-AspNetCore.txt">



	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>



	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages from Payroll Factory Api with basic details -->
		<target xsi:type="File" name="allfilePFApi" fileName="c:\NLog_PFApi_Logs\nlog-allPFApi-${shortdate}.log"
				layout="${longdate}  |  ${event-properties:item=EventId:whenEmpty=0}  |  ${level:uppercase=true}|${logger}  |  ${message} ${exception:format=tostring}" />


		<!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
		<target xsi:type="File" name="ownFile-web" fileName="c:\NLog_PFApi_Logs\nlog-own-${shortdate}.log"
				layout="${longdate}  |  ${event-properties:item=EventId:whenEmpty=0}  |  ${level:uppercase=true}|${logger}  |  ${message} ${exception:format=tostring}  |  url: ${aspnet-request-url}|action: ${aspnet-mvc-action}  |  ${callsite}" />

		<!--Invalid Credentials-->
		<target xsi:type="File" name="OnlyInvalidCreds_PFApi" fileName="c:\NLog_PFApi_Logs\nlog-InvalidCreds-${shortdate}.log"
				layout="${longdate}  |  ${level:uppercase=true}|  ${message} ${exception:format=tostring}" />


		<!--<target xsi:type="Mail" name="mailPF"
				smtpServer="smtp.gmail.com"
				from="zameerahammad2626@gmail.com"
				to="zameerahammad26@gmail.com"
				subject="NLog-Mailing Exception"
				smtpPort="465"
				enableSsl="true"/>-->
		<!--smtpPort="587"
				-->

		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>



	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs from Payroll Factory-->
		<logger name="PayrollApi.*" levels="Info, Error" writeTo="allfilePFApi" />

		<logger name="PayrollApi.*" levels="Error" writeTo="OnlyInvalidCreds_PFApi" />

		<!--<logger name="Payroll.*" level="Warn" writeTo="mailPF"/>-->

		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />


		<!--All logs including Microsoft for own log messages with extra web details using some ASP.NET core renderers -->
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>